@using Inv.WebUI.Resources
@{

	Layout = "~/Views/Shared/Layout.cshtml";
}
<style>

	.des {
		width: 20% !important;
	}

	.uom {
		width: 11% !important;
	}

	.Zero {
		width: 0% !important;
	}

	.Price {
		width: 9% !important;
	}
</style>
<body class="materialdesign">
	<div class="content-inner-all">
		<div class="inbox-mailbox-area mg-b-15">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-2">
								<div class="inbox-email-menu-list compose-b-mg-30 shadow-reset">

									<ul class="nav nav-tabs">
										<li id="btnCategory">
											<a data-toggle="tab" href="#"><span class="inbox-icon"><i class="fa fa-tasks" aria-hidden="true"></i></span>فئات الاصناف</a>
										</li>
										<li id="btnItemFamily">
											<a data-toggle="tab" href="#"><span class="inbox-icon"><i class="fa fa-tasks" aria-hidden="true"></i></span>انواع الاصناف</a>
										</li>
										<li id="btnItems">
											<a data-toggle="tab" href="#"><span class="inbox-icon"><i class="fa fa-tasks" aria-hidden="true"></i></span>الاصناف</a>
										</li>


										<li>
											<label>Created</label>
										</li>
										<li>
											<input id="txtCreatedBy" name="CREATED_BY" type="text" disabled class="form-control" placeholder="Created By ">
											<input id="txtCreatedAt" name="CREATED_AT" type="text" disabled class="form-control" placeholder="Created At">
										</li>

										<li>
											<label>Updated</label>
										</li>
										<li>
											<input id="txtUpdatedBy" name="UPDATED_BY" type="text" disabled class="form-control" placeholder="Updated By ">
											<input id="txtUpdatedAt" name="UPDATED_AT" type="text" disabled class="form-control" placeholder="Updated At">
										</li>


									</ul>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="col-lg-12">
									<div class="col-lg-2">
										<select id="txt_Type" name="" class="form-control  text_Display display_none"></select>
									</div>
								</div>
								<div id="Category" @*class="tab-pane animated zoomInDown fade shadow-reset custom-inbox-message active in"*@>
									<div class="admin-dashone-data-table-area mg-b-15">
										<div class="container-fluid">
											<div class="row">
												<div id="GridCategory"></div>
											</div>
										</div>
									</div>
								</div>
								@*<div id="ItemFamily" class="tab-pane animated zoomInDown fade shadow-reset custom-inbox-message active in">
									<div class="admin-dashone-data-table-area mg-b-15">
										<div class="container-fluid">
											<div class="row">
												<div id="GridItemFamily"></div>
											</div>
										</div>
									</div>
								</div>
								<div id="Items" class="tab-pane animated zoomInDown fade shadow-reset custom-inbox-message active in">
									<div class="admin-dashone-data-table-area mg-b-15">
										<div class="container-fluid">
											<div class="row">
												<div id="GridItems"></div>
											</div>
										</div>
									</div>
								</div>*@
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="~/ClientApp/StockDef/StockDef.js"></script> 